<?xml version="1.0" ?>
<config>
    <modules>
        <Ccc_Filemanager>
            <version></version>
        </Ccc_Filemanager>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Filemanager before="Mage_Adminhtml">Ccc_Filemanager_Adminhtml</Ccc_Filemanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <filemanager>
                    <file>filemanager.xml</file>
                </filemanager>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <filemanager>
                <class>Ccc_Filemanager_Helper</class>
            </filemanager>
        </helpers>
        <blocks>
            <filemanager>
                <class>Ccc_Filemanager_Block</class>
            </filemanager>
        </blocks>
        <models>
            <filemanager>
                <class>Ccc_Filemanager_Model</class>
            </filemanager>
        </models>
    </global>
</config>