<?xml version="1.0" ?>
<config>
    <modules>
        <Ccc_Demo>
            <version>1.0.2</version>
        </Ccc_Demo>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Demo before="Mage_Adminhtml">Ccc_Demo_Adminhtml</Ccc_Demo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <demo>
                <class>Ccc_Demo_Helper</class>
            </demo>
        </helpers>
        <blocks>
            <demo>
                <class>Ccc_Demo_Block</class>
            </demo>
            <!-- block overriding -->
            <!-- <repricer>
                <rewrite>
                    <adminhtml_matching_grid>Ccc_Demo_Block_Adminhtml_Test_Grid</adminhtml_matching_grid>
                </rewrite>
            </repricer> -->
        </blocks>
        <resources>
            <demo_setup>
                <setup>
                    <module>Ccc_Demo</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </demo_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <demo>
                    <file>demo.xml</file>
                </demo>
            </updates>
        </layout>
    </adminhtml>
</config>