<?xml version="1.0" ?>
<config>
    <modules>
        <Ccc_Help>
            <version>1.0.1</version>
        </Ccc_Help>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_help before="Mage_Adminhtml">Ccc_Help_Adminhtml</Ccc_help>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <help>
                <class>Ccc_Help_Helper</class>
            </help>
        </helpers>
        <blocks>
            <help>
                <class>Ccc_Help_Block</class>
            </help>
        </blocks>
        <models>
            <help>
                <class>Ccc_Help_Model</class>
                <resourceModel>help_resource</resourceModel>
            </help>
            <catalog>
                <rewrite>
                    <product>Ccc_Help_Model_Pro</product>
                </rewrite>
            </catalog>
            <help_resource>
                <class>Ccc_Help_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ccc_help_contact</table>
                    </contact>
                </entities>
            </help_resource>
        </models>
        <resources>
            <help_setup>
                <setup>
                    <module>Ccc_Help</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </help_setup>
        </resources>
        <!-- <events>
            <event_practice>
                <observers>
                    <first_event_observer>
                        <type>singleton</type>
                        <class>help/observer</class>
                        <method>firstEvent</method>
                    </first_event_observer>
                </observers>
            </event_practice>
            <event_practice2>
                <observers>
                    <second_event_observer>
                        <type>singleton</type>
                        <class>help/observer</class>
                        <method>secondEvent</method>
                    </second_event_observer>
                </observers>
            </event_practice2>
        </events> -->
    </global>
    <adminhtml>
        <layout>
            <updates>
                <help>
                    <file>help.xml</file>
                </help>
            </updates>
        </layout>
    </adminhtml>
</config>