<?xml version="1.0" ?>
<config>
    <modules>
        <Ccc_Filetransfer>
            <version>0.0.3</version>
        </Ccc_Filetransfer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Filetransfer before="Mage_Adminhtml">Ccc_Filetransfer_Adminhtml</Ccc_Filetransfer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <filetransfer>
                    <file>filetransfer.xml</file>
                </filetransfer>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <filetransfer>
                <class>Ccc_Filetransfer_Helper</class>
            </filetransfer>
        </helpers>  
        <blocks>
            <filetransfer>
                <class>Ccc_Filetransfer_Block</class>
            </filetransfer>
        </blocks>
        <models>
            <filetransfer>
                <class>Ccc_Filetransfer_Model</class>
                <resourceModel>filetransfer_resource</resourceModel>
            </filetransfer>
            <filetransfer_resource>
                <class>Ccc_Filetransfer_Model_Resource</class>
                <entities>
                    <config>
                        <table>ccc_filetransfer_config</table>
                    </config>
                    <files>
                        <table>ccc_filetransfer_files</table>
                    </files>
                    <seller>
                        <table>ccc_partnumber_seller</table>
                    </seller>
                    <newseller>
                        <table>ccc_new_part</table>
                    </newseller>
                    <discseller>
                        <table>ccc_discountinue_part</table>
                    </discseller>
                </entities>
            </filetransfer_resource>
        </models>
        <resources>
            <filetransfer_setup>
                <setup>
                    <module>Ccc_Filetransfer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filetransfer_setup>
        </resources>
    </global>
</config>