<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Reportmanager>
            <version>0.0.3</version>
        </Ccc_Reportmanager>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Reportmanager before="Mage_Adminhtml">Ccc_Reportmanager_Adminhtml</Ccc_Reportmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <reportmanager>
                    <file>reportmanager.xml</file>
                </reportmanager>
            </updates>
        </layout>
    </adminhtml>
    <!-- <frontend>
        <layout>
            <updates>
                <reportmanager>
                    <file>reportmanager.xml</file>
                </reportmanager>
            </updates>
        </layout>
    </frontend> -->
    <global>
        <helpers>
            <reportmanager>
                <class>Ccc_Reportmanager_Helper</class>
            </reportmanager>
        </helpers>
        <blocks>
            <reportmanager>
                <class>Ccc_Reportmanager_Block</class>
            </reportmanager>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Ccc_Reportmanager_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <catalog_product>Ccc_Reportmanager_Block_Adminhtml_Catalog_Product</catalog_product>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <reportmanager_setup>
                <setup>
                    <module>Ccc_Reportmanager</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reportmanager_setup>
        </resources>
        <models>
            <reportmanager>
                <class>Ccc_Reportmanager_Model</class>
                <resourceModel>reportmanager_resource</resourceModel>
            </reportmanager>
            <reportmanager_resource>
                <class>Ccc_Reportmanager_Model_Resource</class>
                <entities>
                    <reportmanager>
                        <table>ccc_reportmanager</table>
                    </reportmanager>
                </entities>
            </reportmanager_resource>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <ccc_order_placed>
                        <type>singleton</type>
                        <class>reportmanager/observer</class>
                        <method>orderPlacedAfter</method>
                    </ccc_order_placed>
                </observers>
            </sales_order_place_after>
            <!-- <admin_session_user_login_success>
                <observers>
                    <ccc_user_login>
                        <type>singleton</type>
                        <class>reportmanager/observer</class>
                        <method>afterUserLogin</method>
                    </ccc_user_login>
                </observers>
            </admin_session_user_login_success> -->
        </events>
    </global>
</config>