<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Promotions>
            <version>0.0.2</version>
        </Ccc_Promotions>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Promotions before="Mage_Adminhtml">Ccc_Promotions_Adminhtml</Ccc_Promotions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <promotions>
                    <file>promotions.xml</file>
                </promotions>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <promotions>
                    <file>promotions.xml</file>
                </promotions>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <promotions>
                <class>Ccc_Promotions_Helper</class>
            </promotions>
        </helpers>
        <blocks>
            <promotions>
                <class>Ccc_Promotions_Block</class>
            </promotions>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Ccc_Promotions_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <promotions_setup>
                <setup>
                    <module>Ccc_Promotions</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promotions_setup>
        </resources>
        <models>
            <promotions>
                <class>Ccc_Promotions_Model</class>
                <resourceModel>promotions_resource</resourceModel>
            </promotions>
            <!-- <catalog>
                <rewrite>
                    <product>Ccc_Promotions_Model_Product</product>
                </rewrite>
            </catalog> -->
            <promotions_resource>
                <class>Ccc_Promotions_Model_Resource</class>
                <entities>
                    <promotions>
                        <table>ccc_promotions</table>
                    </promotions>
                </entities>
            </promotions_resource>
        </models>
    </global>
</config>