<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Repricer>
            <version>1.3.1</version>
        </Ccc_Repricer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Repricer before="Mage_Adminhtml">Ccc_Repricer_Adminhtml</Ccc_Repricer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <repricer>
                    <file>repricer.xml</file>
                </repricer>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <resources>
            <repricer_setup>
                <setup>
                    <module>Ccc_Repricer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </repricer_setup>
        </resources>
        <blocks>
            <repricer>
                <class>Ccc_Repricer_Block</class>
            </repricer>
            <adminhtml>
                <rewrite>
                    <matching_grid>Ccc_Demo_Block_Adminhtml_Test_Grid</matching_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <repricer>
                <class>Ccc_Repricer_Helper</class>
            </repricer>
        </helpers>
        <models>
            <repricer>
                <class>Ccc_Repricer_Model</class>
                <resourceModel>repricer_resource</resourceModel>
            </repricer>
            <repricer_resource>
                <class>Ccc_Repricer_Model_Resource</class>
                <entities>
                    <competitors>
                        <table>ccc_repricer_competitor</table>
                    </competitors>
                </entities>
                <entities>
                    <matching>
                        <table>ccc_repricer_matching</table>
                    </matching>
                </entities>
            </repricer_resource>
        </models>
    </global>
    <crontab>
        <jobs>
            <repricer_matching_update>
                <schedule>
                    <cron_expr>*4 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>repricer/observer::repricerMatchingUpdate</model>
                </run>
            </repricer_matching_update>
            <repricer_download_csv>
                <schedule>
                    <cron_expr>*4 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>repricer/observer::downloadCsv</model>
                </run>
            </repricer_download_csv>
            <repricer_upload_csv>
                <schedule>
                    <cron_expr>*4 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>repricer/observer::uploadCsv</model>
                </run>
            </repricer_upload_csv>
        </jobs>
    </crontab>
</config>
