<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_SimilarItems>
            <version>0.0.2</version>
        </Ccc_SimilarItems>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_SimilarItems before="Mage_Adminhtml">Ccc_SimilarItems_Adminhtml</Ccc_SimilarItems>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <similarItems>
                    <file>similarItems.xml</file>
                </similarItems>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <similarItems>
                <class>Ccc_SimilarItems_Helper</class>
            </similarItems>
        </helpers>
        <blocks>
            <similarItems>
                <class>Ccc_SimilarItems_Block</class>
            </similarItems>
        </blocks>
        <resources>
            <similaritems_setup>
                <setup>
                    <module>Ccc_SimilarItems</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </similaritems_setup>
        </resources>
        <models>
            <similarItems>
                <class>Ccc_SimilarItems_Model</class>
                <resourceModel>similaritems_resource</resourceModel>
            </similarItems>
            <catalog>
                <rewrite>
                    <product>Ccc_SimilarItems_Model_Product</product>
                </rewrite>
            </catalog>
            <similaritems_resource>
                <class>Ccc_SimilarItems_Model_Resource</class>
                <entities>
                    <similarItems>
                        <table>ccc_similar_items</table>
                    </similarItems>
                </entities>
            </similaritems_resource>
        </models>
    </global>
</config>